doctype html
html(ng-app='MyAngularApp')

  block head
   head
    title= title
    
    // Start UI
    
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')
    
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all', rel='stylesheet', type='text/css')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1')
    
    // End UI
    
    script(src='/javascripts/lib/angular.min.js')
    
    script(src='/javascripts/lib/angular-route.min.js')
    
    script(src='/javascripts/lib/angular-animate.js')
    
    script(src='/socket.io/socket.io.js')
    
    script(src='/javascripts/lib/ui-bootstrap-tpls-0.10.0.js')
    
    script(src='/javascripts/MyAngularApp.js')
    
    script(src='/javascripts/controllers.js')

  block content
